$primary: #0d3b66;
$clear: #ee964b;
$font: Arial, Verdana, Tahoma;



.header{
    background-color: $clear;
    width: 100%;
    display: inline-block;
    

}

.footer{
    padding: 10px;
    color: $clear;
    background: $primary;
    box-sizing: border-box;
}
